<appConfig>
	<discordChannelToken>ODk4MDEzNzExMDcwMDAzMjcw.YWeCcQ.xh0dm3PiOmyfCOHhH3wKKEhuXK8</discordChannelToken>
	<mongoDBUsername>RacingBotDBAdmin</mongoDBUsername>
	<mongoDBPass>WYyLo1GTh9TprGvb</mongoDBPass>
	<mongoDBDatabase>RacingBot</mongoDBDatabase>
</appConfig>